<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this User from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tbody>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.text_field :email, required: true %></td>
      </tr>
      <tr>
        <td><%= f.label :role %></td>
        <td><%= f.select :role, ['admin', 'curator', 'user'], { prompt: true }, { required: true } %></td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
