<body class="splash">
  <header>
      <ul>
        <li class="banner"><%= link_to 'About', static_page_path('about'), class: 'banner' %></li>
        <li class="banner"><%= link_to 'Partners', static_page_path('partners'), class: 'banner' %></li>
        <li class="dropdown banner">
          <%= content_tag :a, class: 'dropdown-toggle banner', id: "community-menu", "data-toggle" => "dropdown" do %>
            Community <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu banner" id="community-menu">
            <li><%= link_to 'Research', static_page_path('research') %></li>
            <li><%= link_to 'Become a Contributor', static_page_path('contributor') %></li>
            <li><%= link_to 'Contributor FAQs', static_page_path('faq') %></li>
            <li><%= link_to 'Metadata Checklist', static_page_path('checklist') %></li>
          </ul>
        </li>
        <li class="banner"><%= link_to 'Contact', static_page_path('contact'), class: 'banner' %></li>
        <li class="banner"><%= link_to 'News', news_items_path, class: 'banner' %></li>
        <li class="banner"><%= link_to 'https://twitter.com/DigiCicognara', class: 'banner' do %>
          <%= image_tag('twitter.png', title: 'Twitter') %>
        <% end %></li>
        <% if current_user %>
          <li class="banner banner-right"><%= render partial: 'shared/admin_menu' %></li>
        <% end %>
      </ul>
    </header>
    <section class="intro">
        <div class="wrap">
          <div class="center">
            <h1>The Digital Cicognara Library <span class="small"><span class="italic">An</span> Open-Access Collection <span class="italic">of the</span> Early Literature of the Arts</span></h1>
            <div class="search-browse--home">
              <%= render_search_bar  %>
              <div class="browse-catalogo--home">
                <ul>
                  <li><%= link_to 'Browse full Catalogo', browse_catalogo_path, class: 'btn btn-primary browse-catalogo' %></li>
                  <li><%= link_to 'Vatican Annotated Catalogo', "https://digi.vatlib.it/view/STP_Riserva.IV.169(1)", class: 'btn btn-primary browse-catalogo' %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
