<body class="splash">
  <header>
      <ul>
        <li class="banner"><%= link_to 'About', static_page_path('about'), class: 'banner' %></li>
        <li class="banner"><%= link_to 'Partners', static_page_path('partners'), class: 'banner' %></li>
        <li class="banner"><%= link_to 'Community', static_page_path('community'), class: 'banner' %></li>
        <li class="banner"><%= link_to 'Contact', static_page_path('contact'), class: 'banner' %></li>
        <li class="banner"><%= link_to 'News', news_items_path, class: 'banner' %></li>
        <li class="banner"><%= link_to 'https://twitter.com/DigiCicognara', class: 'banner' do %>
          <%= image_tag('twitter.png', title: 'Twitter') %>
        <% end %></li>
        <% if current_user %>
          <li class="banner banner-right"><%= render partial: 'shared/admin_menu' %></li>
        <% end %>
      </ul>
    </header>
    <section class="intro">
        <div class="wrap">
          <div class="center">
            <h1>The Digital Cicognara Library <span class="small"><span class="italic">An</span> Open-Access Collection <span class="italic">of the</span> Early Literature of the Arts</span></h1>
            <div class="search-browse--home">
              <%= render_search_bar  %>
              <%= link_to 'Browse full Catalogo', browse_catalogo_path, class: 'btn btn-primary browse-catalogo' %>
            </div>
          </div>
        </div>
      </section>
