<div class="navbar-right">
  <ul class="nav navbar-nav">
    <li><%= link_to 'About', static_page_path('about') %></li>
    <li><%= link_to 'Partners', static_page_path('partners') %></li>
    <li><%= link_to 'Community', static_page_path('community') %></li>
    <li><%= link_to 'Contact', static_page_path('contact') %></li>
    <li><%= link_to 'News', news_items_path %></li>
    <li class="banner"><%= link_to 'https://twitter.com/DigiCicognara' do %>
      <%= image_tag('twitter.png', title: 'Twitter') %>
    <% end %></li>

    <% if current_user %>
      <li><%= render partial: 'shared/admin_menu' %></li>
    <% end %>
  </ul>
</div>
