<section class="contributor" id="contributor">
  <div class="wrap">
    <h1>Become a Contributor</h1>
    <p>Contributions to the Digital Cicognara Library project website are enabled by the
       <%= link_to "Getty Research Portal", "http://portal.getty.edu" %>. This workflow allows
       the project to build upon already existing ones and also permits all volumes from the
       Cicognara Library to be searched within the larger art historical context as offered by
       the Portal. The digital facsimiles are displayed via
       <%= link_to "International Image Interoperability Framework (IIIF)", "https://iiif.io" %>
       on the Digital Cicognara Library website.
    </p>
    <p>
      <ul class="normal-size-text">
        <li>
          For detailed information on how to contribute to the Digital Cicognara Library
          see the <%= link_to "contributor FAQs", static_page_path('faq') %> page or contact
          <%= mail_to "cicognara@googlegroups.com" %> with questions.
        </li>
        <li>
          Please also see the <%= link_to "Metadata Checklist", static_page_path('checklist') %>
          for contribution specifications.
        </li>
      </ul>
    </p>
  </div>
</section>
