<table>
  <tr>
    <td><%= label_tag :label %></td>
    <td><%= @version.label %></td>
  </tr>
  <tr>
    <td><%= label_tag :manifest %></td>
    <td><%= link_to @version.manifest, @version.manifest %></td>
  </tr>
  <tr>
    <td><%= label_tag :contributing_library %></td>
    <td><%= link_to @version.contributing_library.label, @version.contributing_library %></td>
  </tr>
  <tr>
    <td><%= label_tag :owner_call_number %></td>
    <td><%= @version.owner_call_number %></td>
  </tr>
  <tr>
    <td><%= label_tag :owner_system_number %></td>
    <td><%= @version.owner_system_number %></td>
  </tr>
  <tr>
    <td><%= label_tag :other_number %></td>
    <td><%= @version.other_number %></td>
  </tr>
  <tr>
    <td><%= label_tag :version_edition_statement %></td>
    <td><%= @version.version_edition_statement %></td>
  </tr>
  <tr>
    <td><%= label_tag :version_publication_statement %></td>
    <td><%= @version.version_publication_statement %></td>
  </tr>
  <tr>
    <td><%= label_tag :version_publication_date %></td>
    <td><%= @version.version_publication_date %></td>
  </tr>
  <tr>
    <td><%= label_tag :additional_responsibility %></td>
    <td><%= @version.additional_responsibility %></td>
  </tr>
  <tr>
    <td><%= label_tag :provenance %></td>
    <td><%= @version.provenance %></td>
  </tr>
  <tr>
    <td><%= label_tag :physical_characteristics %></td>
    <td><%= @version.physical_characteristics %></td>
  </tr>
  <tr>
    <td><%= label_tag :rights %></td>
    <td><%= @version.rights %></td>
  </tr>
  <tr>
    <td><%= label_tag :based_on_original %></td>
    <td><%= check_box_tag @version.based_on_original %></td>
  </tr>
</table>

<%= link_to 'Back to Book', book_path(@book) %> |
<%= link_to 'All Versions', book_versions_path(@book) %> |
<%= link_to 'Edit', edit_book_version_path(@book, @version) %> |
<%= link_to 'Destroy', book_version_path(@book, @version), method: :delete, data: { confirm: 'Are you sure?' } %>
