<% if document.manifests.present? %>
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked" id="manifest-tabs">
        <% document.books.to_a.each_with_index do |book, b_index| %>
          <% book.versions.to_a.each_with_index do |version, v_index| %>
            <li <%= 'class="active"'.html_safe if (b_index == 0 && v_index ==0) %>>
              <a href="#" data-manifest-uri='<%= version.manifest %>'>
                <%= version.based_on_original? ? 'Microfiche' : 'Matching Copy' %> (<%= book.digital_cico_number %>)<br/>
                <span class="contrib"><%= version.contributing_library.label %></span>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="uv viewer" onClick="style.pointerEvents='none'">
        <iframe id="uv-frame" allowfullscreen="true" src="https://figgy.princeton.edu/uv/uv#?manifest=<%= CGI.escape(document.manifests.first) %>"></iframe>
      </div>
    </div>
  </div>
<% end %>
